<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Dissertation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>people</display-name>
    <servlet-name>people</servlet-name>
    <servlet-class>Controllers.people</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>people</servlet-name>
    <url-pattern>/people</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>committee</display-name>
    <servlet-name>committee</servlet-name>
    <servlet-class>Controllers.committee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>committee</servlet-name>
    <url-pattern>/committee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>minute</display-name>
    <servlet-name>minute</servlet-name>
    <servlet-class>Controllers.minute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>minute</servlet-name>
    <url-pattern>/minute</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>agenda</display-name>
    <servlet-name>agenda</servlet-name>
    <servlet-class>Controllers.agenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>agenda</servlet-name>
    <url-pattern>/agenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>Controllers.search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
</web-app>